 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('images/photo-1643913589016-b0111a4888e7.jpeg');
  background-size: cover;
}

.u-section-1 .u-sheet-1 {
  min-height: 1027px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 337px 301px 0 0;
}

.u-section-1 .u-text-2 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 34px 301px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0px;
  font-size: 1.25rem;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 64px auto 60px 0;
  padding: 18px 36px 19px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 847px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 60px;
    margin-right: 101px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 101px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 649px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 487px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 307px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 510px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 59px;
  margin-bottom: 59px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 403px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 1.4;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 412px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  margin: 0 auto 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  border-style: none;
  letter-spacing: 0px;
  font-size: 1.25rem;
  --radius: 50px;
  font-weight: 700;
  text-transform: none;
  margin: 29px auto 0 0;
  padding: 17px 50px 17px 49px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 439px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 332px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 340px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 207px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 307px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }
} .u-section-3 {
  min-height: 493px;
}

.u-section-3 .u-gallery-1 {
  height: 363px;
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-3 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  --gap: 0px;
}

.u-section-3 .u-gallery-item-1 {
  margin-right: 10px;
}

.u-section-3 .u-back-image-1 {
  object-position: 50% 100%;
  width: 363px;
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-item-2 {
  margin-right: 10px;
}

.u-section-3 .u-back-image-2 {
  width: 363px;
}

.u-section-3 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-item-3 {
  margin-right: 10px;
}

.u-section-3 .u-back-image-3 {
  width: 363px;
}

.u-section-3 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-item-4 {
  margin-right: 10px;
}

.u-section-3 .u-back-image-4 {
  width: 363px;
}

.u-section-3 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-item-5 {
  margin-right: 10px;
}

.u-section-3 .u-back-image-5 {
  width: 363px;
}

.u-section-3 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-item-6 {
  margin-right: 10px;
}

.u-section-3 .u-back-image-6 {
  width: 363px;
}

.u-section-3 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-3 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
} .u-section-4 {
  --text-color-var: #000000;
}

.u-section-4 .u-sheet-1 {
  min-height: 1119px;
}

.u-section-4 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-4 .u-list-1 {
  margin-top: 49px;
  margin-bottom: 60px;
}

.u-section-4 .u-repeater-1 {
  grid-auto-columns: calc(50% - 5px);
  grid-template-columns: repeat(2, calc(50% - 5px));
  min-height: 838px;
  --gap: 10px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 60px 30px 0;
}

.u-section-4 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 20px auto 0 0;
}

.u-section-4 .u-text-2 {
  margin: 20px auto 0 0;
}

.u-section-4 .u-line-1 {
  width: 100px;
  height: 0;
  margin: 30px auto 0 0;
}

.u-section-4 .u-text-3 {
  font-style: italic;
  margin: 30px auto 0 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 60px 30px 0;
}

.u-section-4 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: 20px auto 0 0;
}

.u-section-4 .u-text-4 {
  margin: 20px auto 0 0;
}

.u-section-4 .u-line-2 {
  width: 100px;
  height: 0;
  margin: 30px auto 0 0;
}

.u-section-4 .u-text-5 {
  font-style: italic;
  margin: 30px auto 0 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 60px 30px 0;
}

.u-section-4 .u-icon-3 {
  width: 64px;
  height: 64px;
  margin: 20px auto 0 0;
}

.u-section-4 .u-text-6 {
  margin: 20px auto 0 0;
}

.u-section-4 .u-line-3 {
  width: 100px;
  height: 0;
  margin: 30px auto 0 0;
}

.u-section-4 .u-text-7 {
  font-style: italic;
  margin: 30px auto 0 0;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px 60px 30px 0;
}

.u-section-4 .u-icon-4 {
  width: 64px;
  height: 64px;
  margin: 20px auto 0 0;
}

.u-section-4 .u-text-8 {
  margin: 20px auto 0 0;
}

.u-section-4 .u-line-4 {
  width: 100px;
  height: 0;
  margin: 30px auto 0 0;
}

.u-section-4 .u-text-9 {
  font-style: italic;
  margin: 30px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-repeater-1 {
    min-height: 691px;
    grid-gap: 10px;
  }

  .u-section-4 .u-icon-2 {
    --text-color-var: #502903;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-4 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-4 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-right: 10px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 620px;
}

.u-section-5 .u-group-1 {
  min-height: 444px;
  height: auto;
  margin-top: 81px;
  margin-bottom: 60px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-1 {
  padding: 70px 60px;
}

.u-section-5 .u-text-1 {
  margin: 20px 0 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.25rem;
  margin: 26px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-container-layout-1 {
    padding: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-2 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 13px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 821px;
}

.u-section-6 .u-list-1 {
  grid-template-rows: repeat(3, auto);
  margin-top: 136px;
  margin-bottom: 60px;
}

.u-section-6 .u-repeater-1 {
  grid-auto-columns: calc(50% - 16.5px);
  grid-template-columns: repeat(2, calc(50% - 16.5px));
  min-height: 558px;
  --gap: 33px;
}

.u-section-6 .u-container-layout-1 {
  padding: 0 30px 0 0;
}

.u-section-6 .u-icon-1 {
  height: 45px;
  width: 45px;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-6 .u-text-1 {
  margin: -45px 1px 0 95px;
}

.u-section-6 .u-text-2 {
  margin: 19px 0 0 96px;
}

.u-section-6 .u-container-layout-2 {
  padding: 0 30px 0 0;
}

.u-section-6 .u-icon-2 {
  height: 45px;
  width: 45px;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-6 .u-text-3 {
  margin: -45px 1px 0 95px;
}

.u-section-6 .u-text-4 {
  margin: 19px 0 0 96px;
}

.u-section-6 .u-container-layout-3 {
  padding: 0 30px 0 0;
}

.u-section-6 .u-icon-3 {
  height: 45px;
  width: 45px;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-6 .u-text-5 {
  margin: -45px 1px 0 95px;
}

.u-section-6 .u-text-6 {
  margin: 19px 0 0 96px;
}

.u-section-6 .u-container-layout-4 {
  padding: 0 30px 0 0;
}

.u-section-6 .u-icon-4 {
  height: 45px;
  width: 45px;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-6 .u-text-7 {
  margin: -45px 1px 0 95px;
}

.u-section-6 .u-text-8 {
  margin: 19px 0 0 96px;
}

.u-section-6 .u-container-layout-5 {
  padding: 0 30px 0 0;
}

.u-section-6 .u-icon-5 {
  height: 45px;
  width: 45px;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-6 .u-text-9 {
  margin: -45px 1px 0 95px;
}

.u-section-6 .u-text-10 {
  margin: 19px 0 0 96px;
}

.u-section-6 .u-container-layout-6 {
  padding: 0 30px 0 0;
}

.u-section-6 .u-icon-6 {
  height: 45px;
  width: 45px;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-6 .u-text-11 {
  margin: -45px 1px 0 95px;
}

.u-section-6 .u-text-12 {
  margin: 19px 0 0 96px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-repeater-1 {
    min-height: 460px;
    grid-gap: 33px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-right: 0;
    margin-left: 90px;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-top: 25px;
    margin-left: 90px;
  }

  .u-section-6 .u-text-3 {
    width: auto;
    margin-right: 0;
    margin-left: 90px;
  }

  .u-section-6 .u-text-4 {
    width: auto;
    margin-top: 25px;
    margin-left: 90px;
  }

  .u-section-6 .u-text-5 {
    width: auto;
    margin-right: 0;
    margin-left: 90px;
  }

  .u-section-6 .u-text-6 {
    width: auto;
    margin-top: 25px;
    margin-left: 90px;
  }

  .u-section-6 .u-text-7 {
    width: auto;
    margin-right: 0;
    margin-left: 90px;
  }

  .u-section-6 .u-text-8 {
    width: auto;
    margin-top: 25px;
    margin-left: 90px;
  }

  .u-section-6 .u-text-9 {
    width: auto;
    margin-right: 0;
    margin-left: 90px;
  }

  .u-section-6 .u-text-10 {
    width: auto;
    margin-top: 25px;
    margin-left: 90px;
  }

  .u-section-6 .u-text-11 {
    width: auto;
    margin-right: 0;
    margin-left: 90px;
  }

  .u-section-6 .u-text-12 {
    width: auto;
    margin-top: 25px;
    margin-left: 90px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1292px;
  }

  .u-section-6 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-6 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 75px;
  }

  .u-section-6 .u-text-2 {
    margin-top: 27px;
    margin-left: 75px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-bottom: 30px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 75px;
  }

  .u-section-6 .u-text-4 {
    margin-top: 27px;
    margin-left: 75px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-bottom: 30px;
  }

  .u-section-6 .u-text-5 {
    margin-left: 75px;
  }

  .u-section-6 .u-text-6 {
    margin-top: 27px;
    margin-left: 75px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-bottom: 30px;
  }

  .u-section-6 .u-text-7 {
    margin-left: 75px;
  }

  .u-section-6 .u-text-8 {
    margin-top: 27px;
    margin-left: 75px;
  }

  .u-section-6 .u-container-layout-5 {
    padding-bottom: 30px;
  }

  .u-section-6 .u-text-9 {
    margin-left: 75px;
  }

  .u-section-6 .u-text-10 {
    margin-top: 27px;
    margin-left: 75px;
  }

  .u-section-6 .u-container-layout-6 {
    padding-bottom: 30px;
  }

  .u-section-6 .u-text-11 {
    margin-left: 75px;
  }

  .u-section-6 .u-text-12 {
    margin-top: 27px;
    margin-left: 75px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1253px;
  }

  .u-section-6 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-6 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-5 {
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-6 {
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    margin-top: -37px;
    margin-left: 60px;
  }

  .u-section-6 .u-text-2 {
    margin-top: 28px;
    margin-left: 60px;
  }

  .u-section-6 .u-text-3 {
    margin-top: -37px;
    margin-left: 60px;
  }

  .u-section-6 .u-text-4 {
    margin-top: 28px;
    margin-left: 60px;
  }

  .u-section-6 .u-text-5 {
    margin-top: -37px;
    margin-left: 60px;
  }

  .u-section-6 .u-text-6 {
    margin-top: 28px;
    margin-left: 60px;
  }

  .u-section-6 .u-text-7 {
    margin-top: -37px;
    margin-left: 60px;
  }

  .u-section-6 .u-text-8 {
    margin-top: 28px;
    margin-left: 60px;
  }

  .u-section-6 .u-text-9 {
    margin-top: -37px;
    margin-left: 60px;
  }

  .u-section-6 .u-text-10 {
    margin-top: 28px;
    margin-left: 60px;
  }

  .u-section-6 .u-text-11 {
    margin-top: -37px;
    margin-left: 60px;
  }

  .u-section-6 .u-text-12 {
    margin-top: 28px;
    margin-left: 60px;
  }
} .u-section-7 {
  background-image: linear-gradient(to bottom, rgba(68, 34, 1, 0.5), rgba(68, 34, 1, 0.5)), url('images/photo-1662624915046-02d9d4ee724d.jpeg');
  background-size: cover, cover;
  background-repeat: no-repeat, no-repeat;
}

.u-section-7 .u-sheet-1 {
  min-height: 819px;
}

@media (max-width: 1199px) {
   .u-section-7 {
    background-position: 50% 58.06%;
  }

  .u-section-7 .u-sheet-1 {
    min-height: 400px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 637px;
}

.u-section-8 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 121px auto 0;
}

.u-section-8 .u-text-2 {
  font-size: 1.5rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 20px auto 0;
}

.u-section-8 .u-btn-1 {
  border-style: solid;
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0px;
  font-size: 1.25rem;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 88px auto 60px;
  padding: 18px 36px 19px;
}

@media (max-width: 767px) {
  .u-section-8 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 60px;
  }
}